.bg-4 {
    background-color: #CC4B4C;
    color: #FFFFFF;
}
.navbar-inverse {
	background-color: #CC4B4C;
	border-color: #CC4B4C;
}
.goog-te-menu-value#google_translate_element {
    color: #CC4B4C!important;
}
.dropdown-menu li a{
	color: #CC4B4C !important;
}
.goog-te-gadget-simple{
	border-left: 1px solid #F8F8F8!important;
    border-top: 15px solid #F8F8F8!important;
    border-bottom: 1px solid #F8F8F8!important;
    border-right: 1px solid #F8F8F8!important;
}
