.bg-4 {
    background-color: #aa0000;
    color: #9d9d9d;
}
.navbar-inverse {
	background-color: #aa0000;
	border-color: #aa0000;
}
.goog-te-menu-value#google_translate_element {
    color: #000!important;
}
.dropdown-menu li a{
	color: #aa0000 !important;
}
.goog-te-gadget-simple{
	border-left: 1px solid #aa0000!important;
    border-top: 15px solid #aa0000!important;
    border-bottom: 1px solid #aa0000!important;
    border-right: 1px solid #aa0000!important;
}